@charset "UTF-8";

/* root */
:root{
    --primary: rgb(255, 220, 235);
    --blown: rgb(30, 20, 10);
    --link: rgb(220, 10, 20);

    color: var(--blown);
    background-color: var(--primary);

    font-family: "游ゴシック", "Meiryo UI", sans-serif;
    font-weight: 500;
}

::selection{
    background-color: rgba(255 255 255 / .8);
}

a{
    color: var(--link);
}
/* root */

html{
    width: 100%;
}

body{
    margin: 0;
}

/* header */
header{
    background-color: rgba(255 255 255 / .5);
    font-family: "游明朝";
    font-size: 1.6em;
    margin: 0 0 1.6em 0;
    padding: 0.4em 8%;

    /* flex box */
    display: flex;
    justify-content: space-between;
}

header a{
    color: rgb(80, 60, 50);
    padding: 0 0.1em;
    text-decoration: none;
}
/* header */

/* main */
main{
    margin: 1.4em 5%;
    padding: 0.2em 5%;
    background-color: rgba(255 255 255 / .5);
}
/* main */
