@charset "UTF-8";

/* root */
:root{
    @media (prefers-color-scheme: light){
        background-color: rgb(217 211 206);
        color: rgb(60, 40, 20);
        --link: rgb(40, 100, 40);
    }
    @media (prefers-color-scheme: dark){
        background-color: rgb(20, 20, 20);
        color: rgb(230, 230, 230);
        --link: rgb(160, 255, 160);
    }

    font-family: "游明朝", "游ゴシック", serif, sans-serif;
    font-weight: 500;
}


@media (prefers-color-scheme: light){
    ::selection{
    color: rgba(255, 255, 255, .8);
    background-color: rgba(61, 51, 45, .8);
    }
}
@media (prefers-color-scheme: dark){
    ::selection{
    color: rgba(24, 12, 12, .45);
    background: rgba(255, 255, 255, .6);    
    }
}

a{
    color: var(--link);
}
/* root */

html{
    width: 100%;
}

body{
    margin: 0;
}

/* header */
header{
    @media (prefers-color-scheme: light){
        background-color: rgb(110, 100, 70);
    }
    @media (prefers-color-scheme: dark){
        background-color: #302c24;
    }
    font-size: 1.6em;
    margin: 0 0 1.6em 0;
    padding: 0.4em 8%;

    /* flex box */
    display: flex;
    justify-content: space-between;
}

header a{
    color: white;
    padding: 0 0.1em;
    text-decoration: none;
}

@media (forced-colors: active){
    header{
        border-bottom: 1px ButtonText solid;
    }
}
/* header */

/* main */
main{
    margin: 1.4em 5%;
    padding: 0.2em 5%;
    @media (prefers-color-scheme: light){
        background-color: #FFFFEF;
        box-shadow: 12px 8px rgba(65, 35, 9, 0.2);
    }
    @media (prefers-color-scheme: dark){
        background-color: #24221F;
        box-shadow: 12px 8px rgba(170, 165, 160, 0.2);
    }
}

@media (forced-colors: active){
    main{
        border: 1px ButtonText solid;
    }
}

code, .code{
    @media (prefers-color-scheme: light){
        background-color: rgba(65, 35, 9, 0.2);
    }
    @media (prefers-color-scheme: dark){
        background-color: rgba(230, 230, 230, 0.2);
    }
    border-radius: 6px;
    font-family: "Meiryo UI", "Arial", monospace;
}

.code p{
    margin: 0;
}
/* main */
