@charset "UTF-8";

/* root */
:root{
    --primary: #ffffff;
    --blown: rgb(30, 20, 10);
    --link: rgb(40, 100, 40);

    color: var(--blown);
    background-color: var(--primary);

    font-family: "游明朝", serif, sans-serif;
    font-weight: 500;
}

::selection{
    background-color: rgba(255, 0, 119, 0.2);
}

a{
    color: var(--link);
}
/* root */

html{
    width: 100%;
}

body{
    margin: 0;    
}

/* header */
header{
    background-color: #709020;
    font-size: 1.6em;
    margin: 0 0 1.6em 0;
    padding: 0.4em 8%;

    /* flex box */
    display: flex;
    justify-content: space-between;
}

header a{
    color: white;
    padding: 0 0.1em;
    text-decoration: none;
}

@media (forced-colors: active){
    header{
        border-bottom: 1px ButtonText solid;
    }
}
/* header */

/* main */
main{
    margin: 0 5%;
    padding: 0 5%;
}

img{
    max-width: 100%;
    width: 700px;
}
/* main */
