@charset "UTF-8";

/* root */
@media (prefers-color-scheme: light){
    :root{
        color: rgb(30, 20, 10);
        background-color: #ffffff;
    }

    a{
        color: rgb(40, 100, 40);
    }

    ::selection{
        background-color: rgba(0, 255, 0, 0.2);
    }

    header{
        background-color: #709020;
    }
}

@media (prefers-color-scheme: dark){
    :root{
        color: #ffffff;
        background-color: #181228;
    }

    a{
        color: rgb(255, 110, 110);
    }

    ::selection{
        background-color: rgba(255, 128, 128, 0.2);
    }

    header{
        background-color: rgba(255, 124, 180, 0.4);
    }

    img{
        opacity: 0.8;
    }
}

:root{
    font-family: "游明朝", "Noto Serif Japanese", "Noto Serif", serif, sans-serif;
    font-weight: 500;
}
/* root */

html{
    width: 100%;
}

body{
    margin: 0;    
}

/* header */
header{
    font-size: 1.6em;
    margin: 0 0 1.6em 0;
    padding: 0.4em 8%;

    /* flex box */
    display: flex;
    justify-content: space-between;
}

header a{
    color: white;
    padding: 0 0.1em;
    text-decoration: none;
}

@media (forced-colors: active){
    header{
        border-bottom: 1px ButtonText solid;
    }
}
/* header */

/* main */
main{
    margin: 0 5%;
    padding: 0 5%;
}

img{
    max-width: 100%;
    width: 700px;
}
/* main */
